.App {
  text-align: center;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 900;
  height: 100vh;
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
}

#title {
  color: white;
  font-size: 5rem;
}

form {
  height: auto;
  width: auto;
  /* border: 1px solid white; */
}

form div {
  margin: 0.5rem;
}