.App {
  text-align: center;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 900;
  height: 100vh;
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
}


#divide
{
  display: flex;
  width: 30rem;
}